@model IEnumerable<CC9.Models.Movie>

<!DOCTYPE html>
<html>
<head>
    <title>Movies List</title>
</head>
<body>
    <h2>Movies List</h2>
    <a href="@Url.Action("Create")">Add New Movie</a>
    <table>
        <thead>
            <tr>
                <th>Movie ID</th>
                <th>Movie Name</th>
                <th>Date of Release</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
<tr>
    <td>@movie.Mid</td>
    <td>@movie.Moviename</td>
    <td>@movie.DateofRelease.ToShortDateString()</td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = movie.Mid }) |
        @Html.ActionLink("Delete", "Delete", new { id = movie.Mid })
    </td>
</tr>            }
        </tbody>
    </table>
</body>
</html>