@model CC9.Models.Customer

<h2>Customer Details for Order ID</h2>

<div>
    <h4>@Model.CompanyName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Customer ID</dt>
        <dd>@Model.CustomerID</dd>

        <dt>Company Name</dt>
        <dd>@Model.CompanyName</dd>

        <dt>Contact Name</dt>
        <dd>@Model.ContactName</dd>

        <dt>Country</dt>
        <dd>@Model.Country</dd>
    </dl>
</div>